#### Create three variables that are your name, age, and country, then print the following message with Concatenate work for the variables with the following tags and words. To get the same message in the end, you must show the message as it is with all the tags in the same order and spaces:

Eample: 

"Hello 'Osama', How You Doing \ """ Your Age Is "38"" + And Your Country Is: Egypt

In [2]:
name= "Eisa"
age= "33"
country = "Eygpt"

In [14]:
print(f"\"Hello \'{name}\', How You Doing \\ " +'"""' + f" Your Age IS \"{age}\""+'"'+' +'+f"And Your Country Is: { country}"    )

"Hello 'Eisa', How You Doing \ """ Your Age IS "33"" +And Your Country Is: Eygpt

## Print the same previous message as it is, but on more than one line, see the required Output:

"""" 

"Hello 'Osama', How You Doing \
""" Your Age Is "38"" +
And Your Country Is: Egypt

"""

In [17]:
print(f"\"Hello \'{name}\', How You Doing \\ \n" +'"""' + f" Your Age IS \"{age}\""+'"'+' +\n'+f"And Your Country Is: { country}"    )

"Hello 'Eisa', How You Doing \
""" Your Age IS "33"" +
And Your Country Is: Eygpt

### Create a name variable with the value “Elzero” in it, then by means of Indexing + Slicing, fetch the second letter in the first line, the third letter in the second line, and the last letter in the third line, you must fetch the letter in a dynamic way as the word can change, see the example to see Required:

In [23]:
name1="Elzero"

In [32]:
print (f'the second letter is \"{name1[1]}\"')
print(f'the third letter is \"{name1[2]}\"')
print(f'the last letter is \"{name1[5]}\"')

the second letter is "l"
the third letter is "z"
the last letter is "o"

### We will use the above, but we will extract more than one letter, not just one. You must write the code to produce the result, as in the following example:

 ##### name = 'Elzero'
 ##### Needed Output
 ##### "lze"
 ##### "Ezr"
 ##### "rzE"

In [48]:
n0= name1[1:4]
print (f" \"{n0}\"")

 "lze"

In [39]:
n1=name1[0] + name1[2] + name1[4]

In [47]:
print (f" \"{n1}\"")

 "Ezr"

In [43]:
n2= name1[4] + name1[2] + name1[0]

In [49]:
print(f" \"{n2}\"")

 "rzE"

In [58]:
name3= "#@#@Elzero#@#@"
name3[4:-4]

'Elzero'

In [60]:
num1 = "9"
num2 = "15"
num3 = "130"
num4 = "950"
num5 = "1500"
print (num1.zfill(4))
print (num2.zfill(4))
print (num3.zfill(4))
print (num4.zfill(4))
print (num5.zfill(4))

0009
0015
0130
0950
1500

In [68]:
name_one = "Eisa"
name_two = "Eisa_jesus"

print(name_one.rjust(20 , "@"))
print(name_two.rjust(20, "#"))

@@@@@@@@@@@@@@@@Eisa
##########Eisa_jesus

In [72]:
print(name_one.swapcase())
print(name_two.swapcase())

eISA
eISA_JESUS

In [74]:
msg = "I Love Python And Although Love Elzero Web School"
msg.count("Love")

2

In [82]:
name_one.index("a")

3

In [92]:
msg = "I <3 Python And Although <3 Elzero Web School"
print (msg.replace("<3", "love", 1))
print (msg.replace("<3", "love", 2))

I love Python And Although <3 Elzero Web School
I love Python And Although love Elzero Web School

In [94]:
name = "Eisa"
age = 22
country = "Egypt"

print (f'My Name Is {name}, And My Age Is {age}, And My Country Is {country}')

My Name Is Eisa, And My Age Is 22, And My Country Is Egypt