### Task1: Create a tuple consisting of one element, with its name without using brackets (), then print the only element in the tuple in the first line, and in the second line, print the type to make sure that the type is tuple

In [1]:
Tup = "Eisa",

In [2]:
print (Tup)

('Eisa',)

In [3]:
print (type(Tup))

<class 'tuple'>

## TASK2:
### Create a tuple containing the names of 3 of your friends and the first name being Osama
### Use your experience and what you've learned to change your first name from Osama to Elzero
### Print the content of the tuple on the first line
### Print the type to ensure that it is a tuple and not another data type
### On the third line, print the number of items inside the tuple

In [4]:
Friends = ("Osama" , "Eisa", "lyla")

In [5]:
NV = list(Friends)

In [6]:
NV[0] = "Elzero"

In [7]:
print (NV)

['Elzero', 'Eisa', 'lyla']

In [8]:
VN = tuple(NV)

In [9]:
print (VN)
print (type(VN))

('Elzero', 'Eisa', 'lyla')
<class 'tuple'>

In [10]:
print (len(VN))

3

## TASK3: 
#### Create a tuple containing the numbers 1 through 3
#### Create a tuple containing the letters A through C
#### Concatenate them in a new tuple and print its content on the first line
#### In the second line, count the number of items inside the new tuple

In [11]:
nums = (1, 2, 3)
letters = ("A", "B", "C")

In [12]:
 New_list=list(letters) + list (nums)

In [13]:
print (New_list)

['A', 'B', 'C', 1, 2, 3]

In [14]:
New_Typle= tuple( New_list)

In [15]:
print (New_Typle)
print (type(New_Typle))

('A', 'B', 'C', 1, 2, 3)
<class 'tuple'>

## Task4: 
### Create a tuple containing 4 elements with whatever data type you want
### Destruct the tuple and assign the first value of to variable a and the second value to variable b and the fourth value to variable c
### Print the variables a, b, and c on a different line
### Make sure that you have created the destruct with only one line

In [16]:
my_tuple = (11, "hello", True, 3.14)

In [17]:
a, b, _, c = my_tuple

In [18]:
print (a)
print (b)
print (c)

11
hello
3.14